*, html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  margin-top: 20px;
}

ul, ol {
  padding-left: 20px;
}

.back-button {
  width: 400px;
  background-color: black;
  z-index: 0;
  padding: 10px 0 0 10px;
}

.description {
  float: left;
  padding: 0 20px 50px 20px;
  width: 370px;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Verdana', sans-serif;
}

.recipe-card {
  width: 800px;
  padding: 10px;
  float: left;
  background-color: white;
}

.search-bar {
  width: 500px;
}

.recipe-name {
  clear: both;
}

.recipe-image {
  width: 500px;
  height: 500px;
  float: left;
  background-color: darkturquoise;
}

.ingredients {
  width: 200px;
  padding: 10px;
  float: left;
}

.instructions {
  clear: both;
}

.recipe-results {
  float: left;
  padding-left: 50px;
}

.list-item-left {
  
}

.list-item-image {
  
}

.list-item-body {
  
}

.list-item-heading {
  
}